.page-index {
	h1, h2{
		text-align: center;
		font-size: 20px;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid #eee;
	}
	ul{
		text-align: center;
		li{
			font-size: 16px;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #eee;
		}
	}
}
*{margin: 0;padding: 0;}
html,body{
	height: 100%;
}
body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	// 不使用改属性的时候，可以设置比.pager宽度多10px   padding-right: 10px; box-sizing: border-box;
	&::-webkit-scrollbar {
		display: none;
	}
}
